html,body,#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#grupKontrol {
  display: inline-flex;
  box-shadow: none;
}

#showFilter,
#showBaseMaps,
#fullscreen,
#back {
  padding-bottom: 1px;
}

#showFilter button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

#filter {
  position: fixed;
  padding: 20px;
  top: 15px;
  right: 55px;
  width: 310px;
  max-height: 400px;
  overflow-y: auto;
  transform: translate(1200px, 0);
  transition: transform 0.3s ease-in-out;
}

#filter.open {
  transform: translate(0, 0);
}

#filter .form-group>* {
  font-size: 13px;
  margin: 0px;
}

#logo {
  margin-top: 15px;
  margin-right: 33px;
}

#showBaseMaps button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

#fullscreen button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 1px;
}

#back button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

#baseMaps {
  position: fixed;
  padding: 15px;
  top: 15px;
  right: 55px;
  width: 320px;
  max-height: 500px;
  transform: translate(1200px, 0);
  transition: transform 0.3s ease-in-out;
  overflow-y: scroll;
}

#baseMaps.open {
  transform: translate(0, 0);
}

#baseMaps .listMaps ul.row {
  display: flex;
}

#baseMaps .listMaps ul li {
  padding: 0;
  margin: 5px;
  list-style: none;
}

#baseMaps .listMaps ul li button {
  border: 1px solid #222;
  padding: 0;
}

#baseMaps .listMaps ul li button:hover {
  border: 3px solid green;
}

#baseMaps .listMaps ul li button:focus {
  border: 3px solid green;
}

#baseMaps .listMaps ul li img {
  display: block;
  width: 84px;
  max-height: 56px;
  background-position: center;
  object-fit: cover;
}

/* dinamic height of filter chosen */
#uptd_chosen .chosen-choices {
  max-height: 100px;
  overflow-y: scroll;
}

#spp_filter_chosen .chosen-choices {
  max-height: 100px;
  overflow-y: scroll;
}

#spp_filter_chosen .chosen-results {
  max-height: 100px;
  overflow-y: auto;
}

#kegiatan_chosen .chosen-choices {
  max-height: 100px;
  overflow-y: scroll;
}

#kegiatan_chosen .chosen-results {
  max-height: 100px;
  overflow-y: auto;
}

#zoom_chosen .chosen-results {
  max-height: 30px;
  overflow-y: auto;
}
